@font-face {
    font-family: 'GothamExtraLight';
    src: url('../fonts/gotham-xlight.eot');
    src: url('../fonts/gotham-xlight.eot') format('embedded-opentype'),
         url('../fonts/gotham-xlight.woff') format('woff'),
         url('../fonts/gotham-xlight.ttf') format('truetype'),
         url('../fonts/gotham-xlight.svg#GothamExtraLight') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/gotham-bold.eot');
    src: url('../fonts/gotham-bold.eot') format('embedded-opentype'),
         url('../fonts/gotham-bold.woff') format('woff'),
         url('../fonts/gotham-bold.ttf') format('truetype'),
         url('../fonts/gotham-bold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/gotham-medium.eot');
    src: url('../fonts/gotham-medium.eot') format('embedded-opentype'),
         url('../fonts/gotham-medium.woff') format('woff'),
         url('../fonts/gotham-medium.ttf') format('truetype'),
         url('../fonts/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#GothamBook') format('svg');
}
