@import "fonts";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";

$purple: #9b59b6;
$blue: #2c3e50;
$gray: #7f8c8d;
$green: #16a085;
$yellow: #f1c40f;
$orange: #e74c3c;

$base-font-size: 16px;

body{
  font-family: "GothamBook";
}

h3{
  font-size: emCalc(30px);
  font-family: "GothamMedium";
  letter-spacing: -2px;
  margin: 0 0 emCalc(35px);
}

::-webkit-input-placeholder {
   color: $gray;
   font-size: 30px;
   font-family: "GothamExtraLight";
   opacity: 0.57;
   letter-spacing: -1px;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray;
   font-size: 30px;
   font-family: "GothamExtraLight";
   opacity: 0.57;
   letter-spacing: -1px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray;
   font-size: 30px;
   font-family: "GothamExtraLight";
   opacity: 0.57;
   letter-spacing: -1px;
}

:-ms-input-placeholder {
   color: $gray;
   font-size: 30px;
   font-family: "GothamExtraLight";
   opacity: 0.57;
   letter-spacing: -1px;
}

.fullwidth{
  width: 100%;
  max-width: none;
  padding: emCalc(50px) 0;
}

.centered{
  margin: 0 auto;
  float: none;
}

#logo a{
  display: block;
  text-indent: -9999px;
  background: url('../images/logo.png') no-repeat left top;
  height: 110px;
  width: 110px;
  float: left;
}

.header{
  background: url(../images/top-img.jpg) no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 590px;
  padding: 20px 0 0 0;
  header{
    nav{
      padding-top: emCalc(10em);
      a{
        text-transform: uppercase;
        font-family: "GothamBold";
        font-size: emCalc(14px);
        padding: emCalc(11px) emCalc(11px) emCalc(10px);
        color: #fff;
        display: block;
        float: left;
        letter-spacing: -0.5px;
        line-height: 12px;
        &:last-child{
          background: $blue;
          @include border-radius(3px);
          margin-left: emCalc(7px);
        }
      }
    }
    .splash{
      -webkit-font-smoothing: antialiased;
      margin-top: 5em;
      h2{
        font-family: "GothamBold";
        font-size: emCalc(48px);
        color: #fff;
        letter-spacing: -2px;
        width: 85%;
        line-height: emCalc(20px);
        margin-bottom: 0;
      }
      h4{
        font-family: "GothamBook";
        font-size: emCalc(24px);
        color: #fff;
        letter-spacing: -2px;
      }
    }
    .buttons{
      margin: 3em auto;
      a{
        width: 46%;
        margin: 0 2%;
        display: block;
        float: left;
        text-transform: uppercase;
        text-align: center;
        font-family: "GothamBold";
        font-size: emCalc(14px);
        line-height: emCalc(45px);
        @include border-radius(3px);
        letter-spacing: -1px;
        &.learn{
          color: #fff;
          background: $gray;
        }
        &.hire{
          color: $orange;
          background: $yellow;
        }
      }
    }
  }
}

.services{
  h3{
    color: $blue;
  }
  ul{
    li{
      text-align: center;
      list-style: none;
      height: 225px;
      h4{
        font-family: "GothamLight";
        font-size: emCalc(16px);
        color: $blue;
        text-transform: uppercase;
        letter-spacing: -1.5px;
        margin-top: emCalc(14px);
        margin-bottom: 3px;
      }
      p{
        color: $gray;
        font-family: "GothamLight";
        font-size: emCalc(12px);
        line-height: emCalc(18px);
        letter-spacing: -0.5px;
      }
      span{
        height: 94px;
        width: 94px;
        @include border-radius(50px);
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 11px;
        img{
          height: 75%;
        }
      }
      &.gray span{
        background: $gray;
        padding-top: 20px;
      }
      &.orange span{
        background: $orange;
        padding-top: 0;
        img{
          height: 100%;
        }
      }
      &.blue span{
        background: $blue;
      }
      &.purple span{
        background: $purple;
        padding-top: 16px;
        img{
          height: 88%;
        }
      }
      &.yellow span{
        background: $yellow;
        padding-top: 16px;
        img{
          height: 80%;
        }
      }
      &.green span{
        background: $green;
        img{
          height: 90%;
        }
      }
    }
  }
}

.fullwidth.orange{
  background: $orange;
  padding-bottom: 0;
  h3{
    color: #fff;
  }
  ul{
    li{
      list-style: none;
      height: 305px;
      margin-bottom: 20px;
      h4, p{
        color: #fff;
        font-family: "GothamLight";
      }
      h4{
        text-transform: uppercase;
        letter-spacing: -1.5px;
        font-size: emCalc(17px);
        text-align: center;
        margin-top: 15px;
        margin-bottom: 1px;
      }
      p{
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.testimonials{
  div{
    &:before{
      content: "\201C";
      font-size: emCalc(100px);
      font-family: "GothamBold";
      color: $blue;
      float: left;
    }
  }
  blockquote{
    border: none;
    font-family: "GothamLight";
    font-size: 1.875em;
    width: 94%;
    float: left;
    padding-top: 61px;
    color: $blue;
    letter-spacing: -1.5px;
    cite{
      float: right;
      margin-top: 2em;
      a{
        color: $blue;
        font-style: normal;
        font-family: "GothamMedium";
      }
    }
  }
}

.fullwidth.green{
  background: $green;
  .contact{
    h3{
      color: #fff;
    }
    form{
      input[type="text"], input[type="email"], input[type="phone"]{
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
      }
      textarea{
        height: 208px;
        padding-top: 10px;
      }
      input[type="submit"]{
        float: right;
        width: 60%;
        background: $blue;
        border: none;
        line-height: 1.6em;
        font-family: "GothamMedium";
        font-size: emCalc(24px);
        color: #fff;
        @include border-radius(3px);
      }
    }
    #message{
      display: none;
    }
  }
}
